.block {
  display: block;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.border-b {
  border-bottom-width: 1px;
}

.border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.p-4 {
  padding: 1rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sky-500 {
  --tw-text-opacity: 1;
  color: rgb(14 165 233 / var(--tw-text-opacity));
}

.htmx-hidden {
  display: none;
  &.htmx-request {
    display: inline;
  }
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}